<div class="interactive-desktop">
    <div class="interactive-desktop__header">
        <div class="interactive-desktop__header-inner">
            <span class="tag">General Election 2017</span>
            <h1>{{spreadsheet.headline}}</h1>
            <p>{{spreadsheet.standfirst}}</p>
            <p class="desktop-bylines">by <a href="https://www.theguardian.com/profile/josh-holder">Josh Holder</a>, <a href="https://www.theguardian.com/profile/niko-kommenda">Niko Kommenda</a>, <a href="https://www.theguardian.com/profile/caelainn-barr">Caelainn Barr</a> and <a href="https://www.theguardian.com/profile/seanclarke">Seán Clarke</a></p>
            <div class="shares">
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter"></button>
                <button class="interactive-share" data-network="email"></button>
            </div>
        </div>
    </div>
    <div class="interactive-desktop__stack-container">
        {{#spreadsheet.stacks}}
        <div class="interactive-desktop__stack">
            <div class="stack-header">
                <img src="<%= path %>/assets/images/{{image}}.png">
                <h2>{{headline}}</h2>
            </div> {{#cards}} {{#quoteCard}}
            <div class="header-block">
                <h3>{{{words}}}</h3>
            </div>
            {{/quoteCard}} {{^quoteCard}} {{#graphic}}
            <div class="card">
                <div class="base-layer has-graphic" data-graphic="{{base-graphic}}"></div>
                <p class="card-words">{{{words}}}</p>
                <div class="annotation-layer annotation-layer--desktop has-graphic" style="opacity: 1;" data-graphic="{{graphic}}"></div>
            </div>
            {{/graphic}} {{/quoteCard}} {{/cards}}
        </div>
        {{#advert}}
        <div class='interactive-ad-banner'>
            <div class="ad-wrapper--desktop hide-until-tablet">
                <div id="dfp-ad--inline{{advertCount}}" class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop" data-link-name="ad slot banner" data-name="banner" data-tablet="1,1|2,2|728,90" data-desktop="1,1|2,2|88,70|728,90|940,230|900,250|970,250"></div>
            </div>
        </div>
        {{/advert}} {{/spreadsheet.stacks}}
    </div>
    <div class="e-content__related">
        <ul class="e-content__related-content">

            {{#spreadsheet.relatedLinks}}
            <a href="{{url}}">
                <li class="e-content__related-content-item">
                    <div class="e-content__related-content-item-wrap">
                        <div class="e-content__related-content-item-wrap-image">
                            <div class="e-content__related-content-item-wrap-image-container" data-img="{{img-src}}"></div>
                        </div>
                        <div class="e-content__related-content-item-wrap-copy">
                            <p class="e-content__related-content-item-wrap-copy-caption">{{headline}}</p>
                            <p class="e-content__related-content-item-wrap-copy-date">{{date}}</p>
                        </div>
                    </div>
                </li>
            </a>
            {{/spreadsheet.relatedLinks}}
        </ul>
    </div>
</div>
