<div class="swiper-container swiper-container--vertical">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-container swiper-container--horizontal">
                <div class="background-slide">
                    <div id='g-local-map-test-375-first' class='g-artboard g-artboard-v3 ' data-min-width='0' data-max-width='479'>
                        <style type='text/css' media='screen,print'>
                            #g-local-map-test-375-first {
                                position: relative;
                                overflow: hidden;
                            }
                            
                            .g-aiAbs {
                                position: absolute;
                            }
                            
                            .g-aiImg {
                                display: block;
                                width: 100% !important;
                            }
                            
                            .g-aiBackgroundImg {
                                display: block;
                                position: relative;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 100% !important;
                            }
                            
                            #g-local-map-test-375-first p {
                                font-family: arial, helvetica, sans-serif;
                                font-size: 13px;
                                line-height: 18px;
                                margin: 0;
                            }
                            
                            .g-aiPtransformed p {
                                white-space: nowrap;
                            }
                        </style>
                        <div id='g-local-map-test-375-first-graphic'>
                            <div id='g-ai2-0' class='g-aiBackgroundImg' style='width:100%;padding-bottom:177.866666666667%;background-image:url(<%= path %>/assets/local-map-test-375-first.svg);'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="annotation-layer annotation-layer--2" style="opacity: 0;">
                    <style type='text/css' media='screen,print'>
                        #g-local-map-test-375-second-graphic {
                            display: block;
                        }
                        
                        #g-local-map-test-375-third-graphic {
                            display: block;
                        }
                        
                        #g-local-map-test-375-first-graphic {
                            display: block;
                        }
                        
                        #g-local-map-test-480-first-graphic {
                            display: none;
                        }
                        
                        #g-local-map-test-480-second-graphic {
                            display: none;
                        }
                        
                        #g-local-map-test-480-third-graphic {
                            display: none;
                        }
                        
                        #g-local-map-test-860-single-graphic {
                            display: none;
                        }
                        
                        @media (min-width: 479.5px) {
                            #g-local-map-test-375-second-graphic {
                                display: none;
                            }
                            #g-local-map-test-375-third-graphic {
                                display: none;
                            }
                            #g-local-map-test-375-first-graphic {
                                display: none;
                            }
                            #g-local-map-test-480-first-graphic {
                                display: block;
                            }
                            #g-local-map-test-480-second-graphic {
                                display: block;
                            }
                            #g-local-map-test-480-third-graphic {
                                display: block;
                            }
                            #g-local-map-test-860-single-graphic {
                                display: none;
                            }
                        }
                        
                        @media (min-width: 839.5px) {
                            #g-local-map-test-375-second-graphic {
                                display: none;
                            }
                            #g-local-map-test-375-third-graphic {
                                display: none;
                            }
                            #g-local-map-test-375-first-graphic {
                                display: none;
                            }
                            #g-local-map-test-480-first-graphic {
                                display: none;
                            }
                            #g-local-map-test-480-second-graphic {
                                display: none;
                            }
                            #g-local-map-test-480-third-graphic {
                                display: none;
                            }
                            #g-local-map-test-860-single-graphic {
                                display: block;
                            }
                        }
                    </style>

                    <!-- Artboard: 375-second -->
                    <div id='g-local-map-test-375-second' class='g-artboard g-artboard-v3 ' data-min-width='0' data-max-width='479'>
                        <style type='text/css' media='screen,print'>
                            #g-local-map-test-375-second {
                                position: relative;
                                overflow: hidden;
                            }
                            
                            .g-aiAbs {
                                position: absolute;
                            }
                            
                            .g-aiImg {
                                display: block;
                                width: 100% !important;
                            }
                            
                            .g-aiBackgroundImg {
                                display: block;
                                position: relative;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 100% !important;
                            }
                            
                            #g-local-map-test-375-second p {
                                font-family: arial, helvetica, sans-serif;
                                font-size: 13px;
                                line-height: 18px;
                                margin: 0;
                            }
                            
                            #g-local-map-test-375-second .g-aiPstyle0 {
                                font-family: 'Guardian Sans Web', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                text-align: right;
                                color: #767676;
                            }
                            
                            #g-local-map-test-375-second .g-aiPstyle1 {
                                font-family: 'Guardian Sans Web', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                color: #767676;
                            }
                            
                            .g-aiPtransformed p {
                                white-space: nowrap;
                            }
                        </style>
                        <div id='g-local-map-test-375-second-graphic'>
                            <div id='g-ai0-0' class='g-aiBackgroundImg' style='width:100%;padding-bottom:177.866666666667%;background-image:url(<%= path %>/assets/local-map-test-375-second.svg);'>
                            </div>
                            <div id='g-ai0-1' class='g-Layer_1 g-aiAbs' style='top:24.8876%;right:0%;width:39.7333%;'>
                                <p class='g-aiPstyle0'><span style='color:#767676;'>The Conservatives made significant gains throughout Scotland, especially in the southern cities </span></p>
                            </div>
                            <div id='g-ai0-2' class='g-Layer_1 g-aiAbs' style='top:49.1754%;right:0.8%;width:35.4667%;'>
                                <p class='g-aiPstyle0'><span style='color:#767676;'>The largest gain was in Lincolnshire, where they gained 28 seats, 26 were from Labour</span></p>
                            </div>
                            <div id='g-ai0-3' class='g-Layer_1 g-aiAbs' style='top:73.913%;left:0%;width:30.538%;'>
                                <p class='g-aiPstyle1'><span style='color:#767676;'>The Tories took control of Monmouthshire after 17 years of there being no party with overall control</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="annotation-layer annotation-layer--3" style="opacity: 0;">
                    <div id='g-local-map-test-375-third' class='g-artboard g-artboard-v3 ' data-min-width='0' data-max-width='479'>
                        <style type='text/css' media='screen,print'>
                            #g-local-map-test-375-third {
                                position: relative;
                                overflow: hidden;
                            }
                            
                            .g-aiAbs {
                                position: absolute;
                            }
                            
                            .g-aiImg {
                                display: block;
                                width: 100% !important;
                            }
                            
                            .g-aiBackgroundImg {
                                display: block;
                                position: relative;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 100% !important;
                            }
                            
                            #g-local-map-test-375-third p {
                                font-family: arial, helvetica, sans-serif;
                                font-size: 13px;
                                line-height: 18px;
                                margin: 0;
                            }
                            
                            #g-local-map-test-375-third .g-aiPstyle0 {
                                font-family: 'Guardian Sans Web', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                text-align: right;
                                color: #767676;
                            }
                            
                            #g-local-map-test-375-third .g-aiPstyle1 {
                                font-family: 'Guardian Sans Web', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                color: #767676;
                            }
                            
                            .g-aiPtransformed p {
                                white-space: nowrap;
                            }
                        </style>
                        <div id='g-local-map-test-375-third-graphic'>
                            <div id='g-ai1-0' class='g-aiBackgroundImg' style='width:100%;padding-bottom:177.866666666667%;background-image:url(<%= path %>/assets/local-map-test-375-third.svg);'>
                            </div>
                            <div id='g-ai1-1' class='g-Layer_1 g-aiAbs' style='top:51.2744%;right:0%;width:35.4667%;'>
                                <p class='g-aiPstyle0'><span style='color:#767676;'>The Conservatives lost 1 councillor in Doncaster, a Labour stronghold</span></p>
                            </div>
                            <div id='g-ai1-2' class='g-Layer_1 g-aiAbs' style='top:61.7691%;left:0%;width:35.4667%;'>
                                <p class='g-aiPstyle1'><span style='color:#767676;'>They also lost 2 councillors in Flintshire, Wales, which has been under no overall control since 2012</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-header">Foo1</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-header">Foo2</div>

                    </div>
                    <div class="swiper-slide">
                        <div class="slide-header">Foo3</div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-header">Foo4</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-container swiper-container--horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        Foo
                    </div>
                    <div class="swiper-slide">
                        Foo2
                    </div>
                    <div class="swiper-slide">
                        Foo3
                    </div>
                    <div class="swiper-slide">
                        Foo4
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-container swiper-container--horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        Foo
                    </div>
                    <div class="swiper-slide">
                        Foo2
                    </div>
                    <div class="swiper-slide">
                        Foo3
                    </div>
                    <div class="swiper-slide">
                        Foo4
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>