<div class="interactive-mobile">
	<div class="swiper-container swiper-container--vertical">
	    <div class="swiper-wrapper">
	        {{#spreadsheet.stacks}}
	        <div class="swiper-slide">
	            <div class="swiper-container swiper-container--horizontal">
	                <div class="background-slide">
	                </div>
	                <div class="annotation-layer annotation-layer--2" style="opacity: 0;">
	                </div>
	                <div class="annotation-layer annotation-layer--3" style="opacity: 0;">
	                </div>
	                <div class="swiper-wrapper">
	                	{{#cards}}
	                    <div class="swiper-slide {{#quoteCard}}swiper-slide--quote-card{{/quoteCard}}">
	                        <div class="slide-header">{{{words}}}</div>
	                    </div>
	                    {{/cards}}
	                </div>
	            </div>
	        </div>
	        {{/spreadsheet.stacks}}
	    </div>
	</div>
</div>