<div class="interactive-mobile">
    <div class="intro-card swiper-slide swiper-slide--horizontal swiper-slide--header-card" {{#graphic}}data-graphic="{{graphic}}" {{/graphic}}>
            <img class="header-badge" src="https://assets.guim.co.uk/images/badges/0b8a6dde95e07cfc62b8643f90552234/GE2017Badge.svg" />
        <h1>{{spreadsheet.headline}}</h1>
        <p>{{spreadsheet.standfirst}}2</p>
        <p class="mobile-bylines">by <a href="#">Josh Holder</a>, <a href="#">Nikolaus Kommenda</a>, and <a href="#">Seán Clarke</a></p>
        <div class="shares">
            <button class="interactive-share" data-network="facebook"></button>
            <button class="interactive-share" data-network="twitter"></button>
            <button class="interactive-share" data-network="email"></button>
        </div>
        <div class="interactive-mobile__overlay">
            Swipe down to continue :)
        </div>
    </div>
    <div class="swiper-container swiper-container--vertical">
        <div class="swiper-wrapper">
            {{#spreadsheet.stacks}}
            <div class="swiper-slide swiper-slide--vertical">
                <div class="swiper-container swiper-container--horizontal">
                    <div class="background-slide has-graphic" data-graphic="{{base-graphic}}"></div>
                    {{#cards}} {{#graphic}}
                    <div class="annotation-layer has-graphic" style="opacity: 0;" data-graphic="{{graphic}}"></div>
                    {{/graphic}} {{/cards}}
                    <div class="swiper-wrapper next-color--{{nextColor}} color--{{color}}">
                        {{#cards}}
                        <div class="swiper-slide swiper-slide--horizontal {{#headerCard}}swiper-slide--header-card{{/headerCard}} {{#quoteCard}}swiper-slide--quote-card{{/quoteCard}}" {{#graphic}}data-graphic="{{graphic}}" {{/graphic}}>
                            <div class="slide-header" data-number="{{number}}">{{{words}}} {{#headerCard}}
                                <img class="header-image" src="<%= path %>/assets/images/{{image}}.png"> {{/headerCard}}
                            </div>
                            {{#endCard}}
                            <div class="up-next-box"><span>Next</span>{{nextStack.words}}</div>
                            {{/endCard}}
                        </div>
                        {{/cards}}
                    </div>
                    <div class='after-el after-el--filled after-el--{{color}}'></div>
                </div>
            </div>
            {{/spreadsheet.stacks}}
            <div class="swiper-slide swiper-slide--vertical swiper-slide--end-card">
                <div class="slide-header">
                    <div class="e-content__related">
                        <div class="shares">
                            <h2 class="share-header">share this story</h2>
                            <button class="interactive-share" data-network="facebook"></button>
                            <button class="interactive-share" data-network="twitter"></button>
                            <button class="interactive-share" data-network="email"></button>
                        </div>
                        <h2>more general election 2017</h2>
                        <ul class="e-content__related-content">

                            {{#spreadsheet.relatedLinks}}
                            <a href="{{url}}">
                                <li class="e-content__related-content-item">
                                    <div class="e-content__related-content-item-wrap">
                                        <div class="e-content__related-content-item-wrap-image">
                                            <div class="e-content__related-content-item-wrap-image-container" data-img="{{img-src}}"></div>
                                        </div>
                                        <div class="e-content__related-content-item-wrap-copy">
                                            <p class="e-content__related-content-item-wrap-copy-caption">{{headline}}</p>
                                            <p class="e-content__related-content-item-wrap-copy-date">{{date}}</p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            {{/spreadsheet.relatedLinks}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ge-pagination"></div>
    </div>
</div>
