.interactive-desktop {
	
}

.interactive-desktop__stack-container {
	// padding-top: 6px;
	background-color: #fff;
	margin: auto; 

	@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    overflow: hidden;
}

.interactive-desktop__graphic {
	min-height: 400px;
	width: 100%;
	background-color: #fff;
}


.interactive-desktop__stack {
	overflow: hidden;
	@include mq(tablet) {
    	margin-left: 20px;
    }

	@include mq(leftCol) {
		max-width: 860px;
		margin-left: 140px;
	}

	@include mq(wide) {
		max-width: 860px;
		margin-left: 240px;
	}

	h2 {
		@include fs-headline(5);
		max-width: 620px;
		// font-weight: 300;
		margin-bottom: 12px;

		&::before {
			content: '';
			display: block;
			width: 200px;
			border-top: 2px solid #dcdcdc;
			padding-top: 4px;
			margin-top: 48px;
		}
	}
}

.interactive-desktop__header {
	width: 100%;
	background-color: darken(#005689,1.5%);
	border-top: 1px solid rgba(255,255,255,0.2);
	box-sizing: border-box;

	// @include mq(leftCol) {
	// 	margin-left: 140px;
	// }

	// @include mq(wide) {
	// 	margin-left: 240px;
	// }
	margin: 0;
	overflow: hidden;
	h1 {
		@include fs-headline(7);
		max-width: 620px;
		color: #fff;
		font-weight: 300;
		font-size: 54px;
		line-height: 58px;
	}

	p {
		color: #fff;
		max-width: 620px;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.tag {
		@include fs-header(2);
		color: #fff;
		display: block;
		margin-top: 6px;
		margin-bottom: 2px;
	}
}

.interactive-desktop__header-inner {
	@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    background-color: #005689;

    margin: auto;
    box-sizing: border-box;
    overflow: hidden;

    @include mq(tablet) {
    	padding-left: 20px;
    }

	@include mq(leftCol) {
		padding-left: 140px;
	}

	@include mq(wide) {
		padding-left: 240px;
	}
}

.annotation-layer--desktop {
	// box-shadow: 0px 0px 43px -13px rgba(0,0,0,0.3);
}

.card {
	position: relative;
	float: left;
	margin-right: 20px; 
	margin-bottom: 24px;
	overflow: hidden;
	// box-sizing: border-box;
	// border: 1px solid #eaeaea;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 96px;

	.card-words {
		position: absolute;
		top: 12px;
		z-index: 999;
		@include fs-headline(2);
		line-height:24px;
		box-sizing: border-box;
		width: calc(100% - 20px);
		box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.1), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
		background-color: rgba(255,255,255,0.9);
		padding: 6px 10px;
	}
	// p {
	// 	position: absolute;
	// 	top: 6px;
	// 	width: 100%;
	// 	left: 0;
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
}

.header-block {
	clear: both;

	h3 {
		@include fs-header(2);
		font-weight: 500;
	}
}

.base-layer {
	position: absolute;
    top: 96px;
    left: 10px;
}

