.interactive-desktop {
	background-color: #fff;
	margin: auto; 

	@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    overflow: hidden;
}

.interactive-desktop__stack-container {
	@include mq(leftCol) {
		max-width: 860px;
		margin-left: 140px;
	}

	@include mq(wide) {
		max-width: 860px;
		margin-left: 240px;
	}
}

.interactive-desktop__graphic {
	min-height: 400px;
	width: 100%;
	background-color: #fff;
}


.interactive-desktop__stack {
	overflow: hidden;

	h2 {
		@include fs-header(5);
	}
}

.interactive-desktop__header {
	max-width: 620px;

	@include mq(leftCol) {
		margin-left: 140px;
	}

	@include mq(wide) {
		margin-left: 240px;
	}

	h1 {
		@include fs-headline(7);
	}
}

.annotation-layer--desktop {
	margin-right: 20px; 
	margin-bottom: 24px;
	border-radius: 10px;
	padding: 6px 5px;
	overflow: hidden;
	// box-sizing: border-box;
	border: 1px solid #dcdcdc;
	// box-shadow: 0px 0px 43px -13px rgba(0,0,0,0.3);
}

.card {
	position: relative;
	float: left;

	.card-words {
		position: absolute;
		top: 6px;
		z-index: 999;
		@include fs-textSans(3);
		font-weight: bold;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		width: calc(100% - 20px);
	}
	// p {
	// 	position: absolute;
	// 	top: 6px;
	// 	width: 100%;
	// 	left: 0;
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
}

.header-block {
	clear: both;

	h3 {
		@include fs-header(2);
	}
}