.interactive-desktop__stack-container {
	// padding-top: 6px;
	background-color: #fff;
	margin: auto; 

	@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
    overflow: hidden;
}

.interactive-desktop__graphic {
	min-height: 400px;
	width: 100%;
	background-color: #fff;
}


.interactive-desktop__stack {
	overflow: hidden;
	@include mq(tablet) {
    	margin-left: 20px;
    }

	@include mq(leftCol) {
		max-width: 750px;
		margin-left: 140px;
	}

	@include mq(wide) {
		max-width: 750px;
		margin-left: 240px;
	}
}

.interactive-desktop__header {
	width: 100%;
	background-color: darken(#005689,1.5%);
	border-top: 1px solid rgba(255,255,255,0.2);
	box-sizing: border-box;

	// @include mq(leftCol) {
	// 	margin-left: 140px;
	// }

	// @include mq(wide) {
	// 	margin-left: 240px;
	// }
	margin: 0;
	overflow: hidden;
	h1 {
		@include fs-headline(7);
		max-width: 620px;
		color: #fff;
		font-weight: 300;
		font-size: 54px;
		line-height: 58px;
	}

	p {
		color: #fff;
		max-width: 620px;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.tag {
		@include fs-header(2);
		color: #fff;
		display: block;
		margin-top: 6px;
		margin-bottom: 2px;
	}
}

.interactive-desktop__header-inner {
	@each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    background-color: #005689;

    margin: auto;
    box-sizing: border-box;
    overflow: hidden;

    @include mq(tablet) {
    	padding-left: 20px;
    }

	@include mq(leftCol) {
		padding-left: 140px;
	}

	@include mq(wide) {
		padding-left: 240px;
	}
}

.annotation-layer--desktop {
	min-height: 473px;
	min-width: 355px;
	// box-shadow: 0px 0px 43px -13px rgba(0,0,0,0.3);
}

.card {
	position: relative;
	float: left;
	margin-right: 20px; 
	margin-bottom: 24px;
	// box-sizing: border-box;
	// border: 1px solid #eaeaea;
	padding-top: 112px;

	.card-words {
		position: absolute;
		top: 12px;
		z-index: 999;
		@include fs-headline(2);
		font-weight: 500;
		line-height:24px;
		box-sizing: border-box;
		width: 100%;
	}
	// p {
	// 	position: absolute;
	// 	top: 6px;
	// 	width: 100%;
	// 	left: 0;
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }
}

.header-block {
	clear: both;

	h3 {
		@include fs-header(2);
		font-weight: 500;
	}
}

.stack-header {
	height: 160px;
	margin-bottom: 24px;
	border-bottom: 2px solid rgba(212, 217, 223, 0.5);

	h2 {
		@include fs-headline(5);
		color: #005689;
   		font-weight: 700;
		max-width: 420px;
		// font-weight: 300;
		margin-bottom: 12px;
		margin-top: 24px;
		padding-top: 48px;
	}

	img {
		float: right;
		height: 160px;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
}

.base-layer {
	position: absolute;
    top: 112px;
    left: 10px;
}

