.swiper-slide {
	width: 100vw;
	@include fs-bodyCopy(2);
	box-sizing: border-box;
	position: relative;

}

.ge-pagination.swiper-pagination-bullets {

	position: absolute;
	display: block;
	z-index: 200;
	line-height: 8px;
	height: 60px;
	width: 8px;
	top: 32px;
	right: 6px;
	visibility: hidden;
}

.swiper-pagination-bullet {

	border: 1px solid white;
	box-sizing: border-box;
	width: 6px;
	height: 6px;
	background-color: transparent;

	&.swiper-pagination-bullet-active {
		border: 3px solid white;
	}
}


.after-el {
		position: absolute;
		height: 60px;
		width: 30px;
		display: block;
		top: 50%;
		z-index: 999;
		top: calc(50% - 30px);
		// right: -30px;
		right: 0;
		border: 1px solid #fff;
		border-right: 0;
		border-bottom-left-radius: 60px * 2;
  		border-top-left-radius: 60px * 2;
  		background-position: 10px center;
  		background-size: 20px;
  		background-repeat: no-repeat;
  		opacity: 0;
  		transition: opacity 0.25s ease-in-out;
  		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
}

.after-el--show {

	transition: opacity 0.5s ease-in-out 0s;
	opacity: 1;
}

.swiper-slide {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@include fs-bodyCopy(2);
	box-sizing: border-box;
	position: relative;

	&:last-of-type {
		&::after {
			display: none;
		}
	}
}

.swiper-wrapper {
	height: 100vh;
}

.annotation-layer {

	&:not(.annotation-layer--desktop) {
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		transition: opacity 0.25s linear;
	}
}

.background-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.swiper-container--hidden {
	display: block;
}

.swiper-container {
	background-color: #fff;
	position: relative;

	&.swiper-container--vertical {
		overflow: hidden;
	}
}

.slide-header {

	box-sizing: border-box;
	margin: 0;
	position: absolute;
	top: 0;

	// .android & {
	// 	top: 20px;
	// }

	// .ios & {
	// 	top: 12px;
	// }

	left: 0;
	right: 0;
	min-height: 36px;
	color: #fff;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;

	.android & {
		padding-top: 26px;
	}

	.ios & {
		padding-top: 12px;
	}
	padding-bottom: 6px;
	// border: 1px solid #f6f6f6;
	// @include fs-textSans(3);
	@include fs-headline(2); 
	line-height: 24px;
	// font-size: 16px !important;
	// -webkit-backdrop-filter: blur(10px);

	// @supports (-webkit-backdrop-filter: blur(10px)) {
	// 	-webkit-backdrop-filter: blur(3px);
	// 	background-color: rgba(200,200,200,0.5);	}

	// font-weight: 400;
	color: #fff;
}

.swiper-slide--quote-card {
	.slide-header {
		height: 100%;
		@include fs-headline(9);
		font-weight: 300;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
		// -webkit-backdrop-filter: blur(10px);

		// @supports (-webkit-backdrop-filter: blur(10px)) {
		// 	-webkit-backdrop-filter: blur(5px);
		// 	background-color: transparent;
		// }
	}
}

.intro-card {

	height: 100vh;
	@include fs-headline(4);
	line-height: 42px;
	font-weight: 300;
	color: #fff;
	padding-right: 40px;

	&::before, &::after {
		display: none !important;
	}
}

.swiper-slide--intro-card {
	// &::before {
	// 	display: none !important;
	// }

}

.swiper-slide--header-card {
	.slide-header {

		margin: 0;
		height: 100%;
		@include fs-headline(8);
		line-height: 42px;
		font-weight: 300;
		color: #fff;
		padding-right: 40px;

		&::before {
			content: attr(data-number);
			display: block;
			font-weight: 700;
			font-size: 136px;
			line-height: 106px;
			margin-top: 24px;
		}
	}

	&::before {
		content: '';
		position: absolute;
		height: 30px;
		width: 60px;
		display: block;
		background-color: #005689;
		z-index: 9999;
		left: 50%;
		left: calc(50% - 30px);
		bottom: 0;
		border-top-right-radius: 60px * 2;
  		border-top-left-radius: 60px * 2;
  		background-size: 25px;
  		background-repeat: no-repeat;
  		background-position: center center;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAyNCAxOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAyNCAxOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTS0xNzQuNiwzNDAuM2wxMC41LTguNGwxLjEtMC45bDEuMSwwLjlsMTAuNSw4LjRsLTAuNSwwLjdsLTExLjEtNi4zbC0xMS4xLDYuM0MtMTc0LjEsMzQxLTE3NC42LDM0MC4zLTE3NC42LDM0MC4zeiIvPjwvc3ZnPg==);
	}

	&::after {

		//content: '';
		position: absolute;
		height: 60px;
		//width: 30px;
		display: block;
		//background-color: currentColor;
		top: 50%;
		top: calc(50% - 30px);
		// right: -30px;
		right: 0;
		border-bottom-left-radius: 60px * 2;
  		border-top-left-radius: 60px * 2;
  		background-position: 10px center;
  		background-size: 20px;
  		background-repeat: no-repeat;
  		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
	
		z-index: 2000;

		content: 'Swipe to read';
		width: 105px;
		background-color: #fff;
		@include fs-textSans(3);
		line-height: 16px;
		padding-left: 40px;
		padding-right: 0px;
		padding-top: 14px;
		box-sizing: border-box;
		top: 66%;
		top: calc(66% - 30px);

		.color--lab & {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0U0MjcyOSIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
		}

		.color--con & {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzAwNTY4OSIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
		}

		.color--ukip & {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzdEMDA2OCIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
		}

		.color--otherOne & {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAxOCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAxOCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iIzQ4NGY1MyIgZD0iTS0xNjAsMzI0LjlsLTYuMywxMS4xbDYuMywxMS4xbC0wLjcsMC41bC04LjQtMTAuNWwtMC45LTEuMWwwLjktMS4xbDguNC0xMC41Qy0xNjAuNywzMjQuNC0xNjAsMzI0LjktMTYwLDMyNC45eiIvPjwvc3ZnPg==);
		}
	}
}

.swiper-slide--header-card {
	color: #fff;
	padding-left: 10px;
    padding-right: 40px;
    padding-top: 6px;
    padding-bottom: 12px;
    box-sizing: border-box;

	h1 {
		@include fs-headline(7);
		color: #333;
		font-weight: 300;
	}

	p {
		@include fs-headline(3);
		margin-top: 6px;
		color: #333;
		font-weight: 500;

		&::before {
			content: '';
			display: block;
			height: 6px;
			width: 100px;
			background-color: #dcdcdc;
			margin-top: 24px;
			margin-bottom: 2px;
		}
	}
}

.swiper-slide--end-card {
	.slide-header {
		height: 100%;
		@include fs-headline(7);
		background-color: #dcdcdc;
		color: #fff;
	}
}

.swiper-slide--quote-card, 
.swiper-slide--end-card,
.swiper-slide--header-card {
	.slide-header {
		left: 0;
		right: 0;
		top: 0;
		.android & {
			// top: 20px;
			padding-top: 20px;
		}
		.ios & {
			// top: 12px;
			padding-top: 12px;
		}
		box-shadow: 0;
	}
}

.g-artboard {
    margin: auto;
}

.header-badge {
	width: 42px;
	// margin-bottom: 12px;
	margin-right: 5px;
	display: inline-block;
	// vertical-align: top;
}

.header-badge__text {
	@include fs-header(2);
	display: inline-block;
	color: #000;
	font-weight: 500;
	max-width: 140px;
	line-height: 20px;
	// margin-top: -2
	// vertical-align: botto;
}

.swiper-slide .inline-logo svg {
	position: absolute;
	right: 10px;
	// width: 120px;
}

.up-next-box {
	position: absolute;
	bottom: -100px;
	left: 0;
	color: #fff;
	width: 100%;
	transition: bottom 1s ease-in-out;
	transition-delay: 1s;
	@include fs-textSans(3);
	box-sizing: border-box;
	padding: 6px 10px;

	.swiper-slide--horizontal.swiper-slide-active & {
		bottom: 0;
	}

	span {
		color: rgba(255,255,255,0.6);
		&::after {
			content: ' / ';
		}
	}

	&::before {
		content: '';
		position: absolute;
		height: 30px;
		width: 60px;
		display: block;
		background-color: #000;
		z-index: 9999;
		left: 50%;
		left: calc(50% - 30px);
		margin-top: -30px;
		border-top-right-radius: 60px * 2;
  		border-top-left-radius: 60px * 2;
  		background-size: 50%;
  		background-repeat: no-repeat;
  		background-position: center center;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAyNCAxOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAyNCAxOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTS0xNzQuNiwzNDAuM2wxMC41LTguNGwxLjEtMC45bDEuMSwwLjlsMTAuNSw4LjRsLTAuNSwwLjdsLTExLjEtNi4zbC0xMS4xLDYuM0MtMTc0LjEsMzQxLTE3NC42LDM0MC4zLTE3NC42LDM0MC4zeiIvPjwvc3ZnPg==);
	}
}

.header-image {
	margin-left: -10px;
	margin-right: -10px;
	width: 100vw;
	margin-top: 48px;
}

.interactive-mobile__overlay {
	position: absolute;
	display: none;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #005689;
	padding-top: 12px;

	@include fs-headline(6);
	font-weight: 300;

	.overlay-image {
		width: calc(100vw + 40px);
		// margin: 0;
	}

	&.show-overlay {
		display: block;
	}

	& .interactive-mobile__overlay__arrow {
		&::after {
			content: 'Swipe up to continue';
			display: block;
			width: 200px;
			margin-left: -70px;
			margin-top: -42px;
			text-align: center;
			@include fs-textSans(3);
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
		}

		display: block;
		position: absolute;
		top: 65%;
		left: calc(50% - 30px);
		background-color: #4bc6df;
		width: 60px;
		height: 60px;
		//border-top-right-radius: 60px * 2;
  		//border-top-left-radius: 60px * 2;
  		border-radius: 120px;
  		background-size: 60%;
  		background-repeat: no-repeat;
  		background-position: center 40%;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSItMTc1IDMyNSAyNCAxOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMTc1IDMyNSAyNCAxOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTS0xNzQuNiwzNDAuM2wxMC41LTguNGwxLjEtMC45bDEuMSwwLjlsMTAuNSw4LjRsLTAuNSwwLjdsLTExLjEtNi4zbC0xMS4xLDYuM0MtMTc0LjEsMzQxLTE3NC42LDM0MC4zLTE3NC42LDM0MC4zeiIvPjwvc3ZnPg==);
	}

	& .interactive-mobile__overlay__hint {
		padding: 12px 10px;
	}

}

.android, .ios {
	.interactive-mobile::after {
		display: block;
		content: '';
		height: 60px;
		width: 100%;
		opacity: 0;
	}
}

h2.share-header {
	// font-size: 16px !important;
	// color:
	// color: #767676 !important;
}

.mobile-bylines {
	&::before {
		display: none !important;
	}
	
	font-size: 16px !important;
	line-height: 20px !important;
	color: #767676 !important;
	padding-bottom: 6px;
	padding-top: 24px;

	a {
		color: #fff;
		color: #767676;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding-bottom: 1px;
		text-decoration: none !important;

		&:hover {
			text-decoration: none;
		}
	}
}

@each $color in $colors {
    .color--#{nth($color, 1)} {
    	color: nth($color, 2);

        .slide-header {
        	background-color: nth($color, 2) !important;
        }

        .swiper-slide--header-card::after {
    		color: nth($color, 2);
    	}
    }

    .after-el--#{nth($color, 1)} {
        background-color: nth($color, 2) !important;
    }

    .next-color--#{nth($color, 1)} {
    	.swiper-slide--header-card::before {
    		background-color: nth($color, 2) !important;
    	}

    	.up-next-box {
    		background-color: nth($color, 2) !important;
    	}

    	.up-next-box::before {
    		background-color: nth($color, 2) !important;
    	}
    }
}
