@include mq($until: desktop) {
	#bannerandheader {
		display: none;
	}
}

.swiper-slide {
	height: 100vh;
	width: 100vw;
	@include fs-bodyCopy(2);
	box-sizing: border-box;
	position: relative;

	&.swiper-slide-active {
		&::after {
			opacity: 0;
		}
	}
}

.swiper-wrapper {
	height: 100vh;
}

.annotation-layer {

	&:not(.annotation-layer--desktop) {
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		transition: opacity 0.25s linear;
	}
}

.background-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.swiper-container {
	background-color: #fff;
	position: relative;
}

.slide-header {
	position: absolute;
	top: 12px;
	left: 10px;
	right: 10px;
	min-height: 36px;
	color: #fff;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	// border: 1px solid #f6f6f6;
	box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.1), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
	background-color: rgba(255,255,255,0.9);
	// @include fs-textSans(3);
	@include fs-headline(2); 
	line-height: 24px;
	// font-size: 16px !important;
	// -webkit-backdrop-filter: blur(10px);

	@supports (-webkit-backdrop-filter: blur(10px)) {
		-webkit-backdrop-filter: blur(3px);
		background-color: rgba(255,255,255,0.25);	}

	// font-weight: 500;
	color: #000;
}

.swiper-slide--quote-card {
	.slide-header {
		height: 100%;
		@include fs-headline(4);
		background-color: rgba(0,0,0,0.4);
		color: #fff;
		// -webkit-backdrop-filter: blur(10px);

		// @supports (-webkit-backdrop-filter: blur(10px)) {
		// 	-webkit-backdrop-filter: blur(5px);
		// 	background-color: transparent;
		// }
	}
}


.swiper-slide--header-card {
	.slide-header {
		height: 100%;
		@include fs-headline(7);
		background-color: #00456e;
		color: #fff;
	}
}

.swiper-slide--header-card {
	background-color: #63717a;
	color: #fff;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 12px;
    box-sizing: border-box;

	h1 {
		@include fs-headline(7);
	}

	p {
		@include fs-headline(2);
		margin-top: 6px;
	}
}

.swiper-slide--end-card {
	.slide-header {
		height: 100%;
		@include fs-headline(7);
		background-color: #333;
		color: #fff;
	}
}

.swiper-slide--quote-card, 
.swiper-slide--end-card,
.swiper-slide--header-card {
	.slide-header {
		left: 0;
		right: 0;
		top: 0;
		box-shadow: 0;
	}
}

.g-artboard {
    margin: auto;
}
