$black: #161616;
$midBlack: #333333;
$white: #fff;
$yellow: #fb0;
$lightGrey: #BDBDBD;
$darkGrey: #767676;
$midGrey: #DCDCDC;
$grey: #eaeaea;

// .e-content__related-content__inner {
//     @include mq(tablet) {

//     }
// }

.e-content__related {
    position: relative;

    max-width: 1300px;
    margin: 0 auto;
    @include mq($until: tablet) {
        margin-top: 24px;
        padding: 0 20px;
    }

    @include mq(tablet) {
        background-color: #fff;
        box-sizing: border-box;
        padding-bottom: 24px;
        border-top: 1px solid #4bc6df;
        padding-top: 4px;

        &::before {
            content: "general election 2017";
            font-size: 1.375rem;
            line-height: 1.75rem;
            font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
            font-weight: 900;
            position: relative;
            padding-bottom: 0.25rem;
            line-height: 1.5rem;
            color: #197caa;
            padding-left: 20px;

            @include mq(leftCol) {
                position: absolute;
                top: 6px;
            }
            @include mq(leftCol, wide) {
                font-size: 1.25rem;
                line-height: 1.5rem;
                max-width: 100px;
            }
            @include mq(wide) {
                max-width: 200px;
            }
            display: block;
        }
    }

    // padding-bo

    .shares {
    	padding-bottom: 24px;
    }

    @include mq($until: wide) {
        max-width: 1140px;
    }
    @include mq($until: leftCol) {
        max-width: 980px;
    }
    @include mq($until: desktop) {
        max-width: 740px;
    }
    @include mq($until: tablet) {
        padding: 0;
        max-width: 100%;
        margin: 30px 0 30px;
    }
    h2 {
        font-size: 22px;
        line-height: 24px;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: 900;
        position: relative;
        display: block;
        float: left;
        color: #197caa;
        @include mq($until: wide) {
            font-size: 20px;
        }
        @include mq($until: leftCol) {
            float: none;
            margin: 0 0 5px 0px;
        }
        @include mq($until: tablet) {
            font-size: 22px;
        }
    }
    &-content {
        //ul
        margin: 0;
        margin-left: 230px;
        width: 940px;
        font-size: 0;
        display: block;
        @include mq($until: wide) {
            margin-left: 130px;
        }
        @include mq($until: leftCol) {
            margin-left: -10px;
            padding-left: 20px;
        }
        @include mq($until: desktop) {
            width: 700px;
        }
        @include mq($until: tablet) {
            float: right;
            width: 100%;
        }
        a {
            text-decoration: none;
            display: inline-block;
            width: 25%;
            vertical-align: top;
            position: relative;
            line-height: 0;
            margin-top: 6px;
            @include mq($until: tablet) {
                width: 100%;
            }
            &:not(:first-child) {
                @include mq($from: tablet) {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        border-left: 1px solid #dcdcdc;
                    }
                }
            }
            &:hover .e-content__related-content-item-wrap {
                background: darken(#484f53, 5%);
            }
        }
        &-item {
            //li
            display: block;
            @include mq($until: tablet) {
                padding-bottom: 15px;
            }
            &-wrap {
                background: #484f53;
                border-top: solid 1px #4bc6df;
                margin: 0 10px;
                height: 227px;
                overflow: hidden;
                @include mq($until: tablet) {
                    height: 84px;
                    margin: 0;
                }
                @include mq($until: mobileLandscape) {
                    height: auto;
                }
                &-image {
                    width: 100%;
                    &-container {
                        width: 100%;
                        padding-bottom: 60%;
                        background-size: cover;
                        background-position: center center;
                    }
                    @include mq($until: tablet) {
                        display: inline-block;
                        width: 26%;
                        // margin: 3px 3px 0;
                        margin-right: 2px;
                        max-width: 129px;
                    }
                    @include mq($until: mobileLandscape) {
                        width: 45%;
                    }
                }
                &-copy {
                    padding: 0 5px 24px;
                    @include mq($until: tablet) {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 70%;
                    }
                    @include mq($until: mobileLandscape) {
                        padding: 0 5px 2px;
                        width: 45%;
                    }
                    &-caption {
                        color: $grey;
                        display: inline-block;
                        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 0 5px;
                        @include mq($until: tablet) {
                            font-size: 14px;
                            line-height: 18px;
                            word-wrap: break-word;
                            padding-top: 3px;
                        }
                    }
                    &-date {
                        position: absolute;
                        bottom: 0;
                        color: $lightGrey;
                        font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
                        font-size: 13px;
                        line-height: 18px;
                        margin: 0;
                        @include mq($until: tablet) {
                            position: relative;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}
