@import "mq";
@import "fonts";
@import "swiper";
@import "mobile";
@import "desktop";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
    height: 100vh;
    @include mq($until: desktop) {
    	//overflow: hidden;
	}
}

html, body {
     background-color: #eaeaea;
     overflow: initial;
}

.interactive-desktop {
	display: none;
	@include mq(desktop) {
		display: block;
	}
}

.interactive-mobile {
	display: none;
	@include mq($until: desktop) {
		display: block;
	}
}